.long-url-cell{
    max-width: 300px;
    overflow: auto;
    white-space: nowrap;
}

.my-table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
.my-table th, .my-table td{
    border: 1px solid black;
    padding: 4px  8px;
    text-align: left;
}